.bttn{
    padding: 10px 20px;
    border: none;
    display: inline-block;
    transition: 0.4s;
    background-color: var(--bs-body-bg, inherit);
    color: var(--bs-link-hover-color-rgb);
    
    &.red{
        border: 1px solid $red;
        @extend %red_box;

        &:hover{
            box-shadow: $red 0 0 7px 0;
            border: 1px solid $red;
            background: var(--bs-body-bg, inherit);
            color: $red;
        }

        &.inverted, &.reversed{
            background-color: var(--bs-body-bg, inherit);
            color: $red;

            &:hover{
                @extend %red_box;
            }
        }
    }

    &.blue{
        border: 1px solid $blue;
        @extend %blue_box;

        &:hover{
            box-shadow: $blue 0 0 7px 0;
            border: 1px solid $blue;
            background: var(--bs-body-bg, inherit);
            color: $blue;
        }

        &.inverted, &.reversed{
            background-color: var(--bs-body-bg, inherit);
            color: $blue;

            &:hover{
                @extend %blue_box;
            }
        }
    }

    &.green{
        border: 1px solid $green;
        @extend %green_box;

        &:hover{
            box-shadow: $green 0 0 7px 0;
            border: 1px solid $green;
            background: var(--bs-body-bg, inherit);
            color: $green;
        }

        &.inverted, &.reversed{
            background-color: var(--bs-body-bg, inherit);
            color: $green;

            &:hover{
                @extend %green_box;
            }
        }
    }

    &[disabled]{
        background: var(--bs-body-bg, inherit);
        color: black;
        border: 1px solid black;
    }

    &.small{
        padding: 5px 10px;
    }
}
