@import "variables.scss";   
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "general.scss";
@import "buttons.scss";

.card{
    max-height: 600px;

    .img-wrapper {
        width: auto;
        height: 300px;

        img{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }

    .title{
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        min-height: 50px;

        &:hover{
            color: $red;
        }
    }
}

.basket{
    .btn-remove{
        background-color: inherit;
        color: $green;
        border: none;
    }

    .btn-add{
        background-color: inherit;
        border: none;
        color: $red;
    }
}

.match{
    .image{
        width: 100px;
    }
}

@keyframes spinner {
    15%   {}
    50%   {transform: rotateX(3turn)}
    85%   {}
}

.preloader{
    animation-name: spinner;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}