@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-VariableFont_wght.ttf');
}
*{
    font-family: 'Comfortaa';
}

a.disabled{
    pointer-events: none;
}

.text-justify{
    text-align: justify !important;
}

.color-red{
    color: $red;
}
.color-blue{
    color: $blue;
}
.color-green{
    color: $green;
}

a{
    color: var(--bs-heading-color, inherit);
    text-decoration: none;
    &:hover{
        color: $red;
    }
}

ul.list-style-inside{
    list-style: inside;
}

.modal-container{
    background-color: rgba(0, 0, 0, 0.3);
    .modal-area{
        background-color: var(--bs-body-bg);
    }
}

.cursor-pointer{
    cursor: pointer;
}

footer{
    a{
        color: white;
        text-decoration: underline;
    }
}
